<div class="main-sidebar">
  <a [routerLink]="['/main/', 'short']" class="list-group-item"  routerLinkActive="active" >
	简单而深刻
</a>
<a [routerLink]="['/main/', 'article']" class="list-group-item" routerLinkActive="active">偶尔balabala</a>
<a [routerLink]="['/main/', 'food']" class="list-group-item" routerLinkActive="active">一日三餐</a>
<a [routerLink]="['/main/', 'photo']" class="list-group-item" routerLinkActive="active">美的永恒</a>
<a [routerLink]="['/main/', 'music']" class="list-group-item" routerLinkActive="active">音乐抽屉</a>
</div>
